*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial";
}

.cabecalho{
    background-color: tomato;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.links{
   display: flex;
   list-style: none;
   gap: 10px;
}

.link_a{
    color: #fff;
    text-decoration: none;
}

#inicio img{
    width: 300px;
}

#sobre img{
    width: 300px;
}

#inicio{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.texto{
    width: 100%;
    max-width: 500px;
}


#sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

#contato{
    height: 50vh;
}

#contato h2{
  text-align: center;
  margin-bottom: 1rem;
}

.flex_3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .group{
    display: flex;
    justify-content: center;
  }
  
  .group input, textarea{
    background-color: #ffffff4a;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    border: 1px solid tomato;
    outline-style: none;
  }
  .group input::placeholder{
   color: rgb(49, 49, 49);
   font-size: 15px;
   font-weight: 400;
  }
  .group textarea::placeholder{
    color: rgb(49, 49, 49);
    font-size: 15px;
    font-weight: 400;
   }
  
  .enviar{
    display: inline-block;
    width: 100px;
    margin: auto;
    padding: 10px;
    background-color: tomato;
    color: #fff;
    font-size: 13px;
    border: none;
    cursor: pointer;
    transition: .5s;
  }
  
  .enviar:hover{
    background-color: #333;
  }

  #contato{
    padding: 20px;
    background-image: url("img/banner.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


footer{
  background-color: tomato;
  padding: 20px;
  text-align: center;
  color:#fff;
}