* {
   font-family: "Arial";
}

.btn{
    display:inline-block;
    background-color: tomato;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.flex{
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}

.item{
    background-color: #ecececec;
    border: 1px solid #bbb;
    padding: 10px;
    border-radius: 5px;
}

h2{
    margin: 0px;
}